fieldset {
  display: flex;
  align-items: center;
  height: 40px;
}

.comment-logo {
  width: 24px;
  height: 24px;
  background-image: url(../images/comment-author-icon.png);
  background-size: cover;
  margin-right: 10px;
}

input[type='text'] {
  flex-grow: 1;
  height: 90%;
  border: none;
}

.comment-writing-container {
  margin-bottom: 24px;
}

.comment-list > * {
  margin-bottom: 8px;
  border: 1px solid #e9e9e9;
  padding: 10px 16px 18px 16px;
}

.comment-list > *:last-child {
  margin-bottom: 0px;
}

.comment-author {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
